
<div class="row">
  <div class="col-md-12">
    <h1 class="tagline">serena vaccari</h1>    
    <h3 class="construction">under construction</h3>
  </div>
</div>

<div class="row landing_link">
    <div class="col-md-2 col-md-offset-3 text-center">
      <%= link_to '/about'  do %>
        <div class="link-item">
            <h4>About me</h4>
        </div>
      <% end %>
    </div>
    <div class="col-md-2 text-center">
      <%= link_to '/projects'  do %>
        <div class="link-item">
            <h4>Projects</h4>
        </div>
      <% end %>
    </div>
    <div class="col-md-2 text-center">
    <%= link_to '/contact'  do %>
        <div class="link-item">
            <h4>Contact me</h4>
        </div>
    <% end %>
    </div>
</div>