<h1>Projects Page</h1>


<h2>works</h2>

<% @works.each do |project| %>
  <div class="project-container">
  <div class='project' style="background: black url(<%= asset_path("/assets/works/#{project}.jpg") %>)">

  </div>
  <p><%= asset_path("/works/#{project}.jpg") %></p>
  <p><%= project %></p>
  </div>

<% end %>