<h1>Projects Page</h1>


<h2>works</h2>


<div class="project-container">

<div class="wrap">
    <div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- carousel indicators -->
    <ol id="carousel-indicators" class="carousel-indicators">
    </ol>

    <!-- carousel wrapper for slides -->
    <div id="carousel-inner" class="carousel-inner">
    </div>

    <!-- carousel controls -->
    <a class="left carousel-control" href="#carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>


  <!-- project list -->
  <div class="row" id='projects-container'>
    <div id="projects-list">
    </div>

  </div>


</div>

<%= javascript_include_tag "application" %>

<script>
  $('#carousel').hide();


  $(document).ready(function() {
    App.projects = new App.Projects();
    App.projects.fetch();
    App.router = new App.Router();
    Backbone.history.start();

  })

</script>