.carousel-control {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: black;
  line-height: 50px;
  font-size: 40px;
  text-align: center;
  &.right {
    right: -100px;
  }
  &.left {
    left: -100px;
  }
}

.modal-dialog {
  width: 800px;
  max-width: 100%;

  #carousel {
    width: 100%;
  }

  .carousel-inner {
    background: white;
    img {
      width: 100%;
    }

    .carousel-caption {
      background-color: black;
      left: initial;
      right: 0px;
      padding: 7px 30px;
      p {
        margin: 0px;
        text-align: right;
      }
    }
  }
}

.label {
  background: black;
  padding: 10px 20px;
  position: absolute;
  top: 30px;
  right: 0px;
  text-align: right;
  min-width: 200px;
  h3 {
    margin-top: 0px;
  }
}
