
@import "bootstrap";  

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

.main-body {
  padding-top: 70px;
  padding-bottom: 70px;
}

.container {
  max-width: 1000px;
}

footer {
  margin: 0 auto;
  padding: 5px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;
}

.navbar-collapse {
  padding-left: 30px;
}


.section {
  position: relative;
  padding-top: 35px;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -2;
  
  display: block;
  background-image: url(image_path('copertina.jpg'));
  height: 680px;
  background-size: cover;
  opacity:0.05;
  -webkit-opacity: 0.05;
}


/* projects */

#project-container {
  display: inline-block;
  text-align: center;
  width:150px;
}

.inline {
  display: inline-block;
}

.project-div {
  display: block;
  float: left;

  a {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

.project {
  height: 150px;
  width: 150px;
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  opacity: 0.4;
  cursor: pointer; 
  display: block;
  float: left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  border:1px solid #ccc;
  border-bottom:2px solid #bbb;
  border-top:1px solid #ddd;
  
  border-radius: 20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
}

.project:hover {
  opacity : 1;
}

.name {
  font-weight: bold;
  margin: 0 ;
}

.location {
  font-size: 80%;
  text-align: right;
}

#carousel {
  width: 680px;
  z-index: 2;
  position: absolute;
  margin: auto;
  top: 0;
  border: 10px solid #FFF;
  -webkit-box-shadow: 10px 10px 20px #002624;
  -moz-box-shadow: 10px 10px 20px #002624;
  box-shadow: 10px 10px 20px #002624;
}

.cover {
  margin-top: 10px;
  width: 220px;
}

.cover img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

/* landing page */
#landing .container {
  max-width: 1000px;
  text-align:center;
  margin:0;
}

#landing {
  background: url(image_path('landing.jpg')) no-repeat center center;
  height: 680px;
  background-size:cover;
}

.landing_link {
  margin-top: 200px;
}

.link-item {
  background: rgba(255, 255, 255, 0.4);
  color: #222;
  font-style: bold;
  height: 150px;
  width: 150px;
  margin: 5px;
  padding: 5px;
  
  border-radius: 20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;

  -webkit-box-shadow: 3px 3px 3px 3px rgba(4,4,4,0.5);
   -moz-box-shadow: 3px 3px 3px 3px rgba(4,4,4,0.5);
        box-shadow: 3px 3px 3px 3px rgba(4,4,4,0.5);
}

.link-item:hover {
  background: rgba(255, 255, 255, 0.7);
}

.tagline {
  /* font-family: 'Codystar', cursive, sans-serif; */  font-family: 'Lato', Calibri, Arial, sans-serif;
  margin-top:40px;
  margin-bottom: 0px;
  font-size:100px;
  text-align:center;
  color: #555;
}

.construction{
  text-align: center;
  margin-top: 0;
}

a:hover {
  text-decoration: none;
}

.photo {
  margin: 5px;
  display: inline-block;
}