body {
  font-family: Courier, Calibri, Arial, sans-serif;
}

.navbar-header {
  a {
    color: black;
  }
}

.black-link {
  color: black;
  text-decoration: none;
  &:visited {
    color: black;
    text-decoration: none;
  }
  &:active {
    color:black;
    text-decoration: none;
  }
  &:hover {
    color: white !important;
    background-color: black !important ;
    text-decoration: none;
  }
}

.icon-bar {
  background-color: black;
}

.header-list {
  float: right;
  margin-right: 20px;
  li {
    margin: 0px;
    padding: 0px;
    a {
      margin: 17px;
      padding: 0px;
    }
  }
}

.container {
  max-width: 1000px;
}

.about-container {
  margin-bottom: 200px;
}

.navbar-collapse {
  padding-left: 30px;
}

.section {
  position: relative;
  padding-top: 35px;
}


/* projects */
.secondary-menu {
  margin-bottom: 20px;
}

.fancy-list {
  li {
    display: inline-block;
  }
  a {
    margin: 5px;
  }
}

.projects-container {
  display: block;
}

#project-container {
  display: inline-block;
  text-align: center;
  width:150px;
}

.inline {
  display: inline-block;
}

.project {
  width: 100%;
  margin: 10px;
  &:hover{
    opacity: 0.8;
  }
}

.name {
  font-weight: bold;
  margin: 0 ;
}

.location {
  font-size: 80%;
  text-align: right;
}
