.history {
  height: 1300px;
  .line-image {
    position: absolute;
    left: 20%;
    top: -10px;
    bottom: 0px;
    z-index: -1px;
  }
  .description {
    position: relative;
    z-index: 1000;
    padding: 0px 5px;
    width: calc(80% - 60px);
    float: right;
    p {
      margin: 0px;
    }
    background-color: black;
    &.grey {
      background-color: grey;
    }
    color: white;
    margin-bottom: 5px;
    a {
      color: white;
      &:hover {
        color: black;
        background-color: white;
        text-decoration: none;
      }
    }
    &.inverted {
        color: black;
        background-color: white;
      a {
        color: black;
        &:hover {
          color: white;
          background-color: black;
          text-decoration: none;
        }
      }
    }
  }
  .years {
    background-color: white;
    color: black;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    left: calc(20% - 40px);
    text-align: center;
    line-height: 80px;
    position: absolute;
  }

  .history-line {
    margin-top: 20px;
    height: 80px;
    &.double {
      height: 160px;
    }
    &.triple {
      height: 240px;

    }
  }
}